@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
.container{
    width: 1300px;
    margin: 0 auto;
}
/* header style */
header{
    display: flex;
    justify-content: center;
    color: white;
    margin:4% 0;
    align-items: center;
    background-color: black;
    border-radius: 20px;

}
.world-cup{
    width: 50%;
}
.head-font{
    margin-left: 5%;
}
h1{
    font-size: 3.5vw;
}
.world-cup-img{
    margin-top: 3%;
}
.link-button{
    color: whitesmoke;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, indigo, red);
}
main{
    display: flex;
    margin: 0 auto 60px;
}
aside{
    min-width: 255px;
    height: 230px;
    padding: 10px;
    margin-right: 15px;
    background-color: black;
    border-radius: 10px;
}


.buttom{
    text-decoration: none;
    text-align: center;
    height: 40px;
    padding-top: 9px;
    margin: 15px 8px;
    font-size: 20px;
    border: 1px solid rgb(218, 218, 236);
    background-color: rgb(253, 243, 243);
    border-radius: 5px;    
}
.blog{
    background-color: red;

}
.buttom-2{
    color: rgb(109, 66, 66);

}


.match-information{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap:15px;
   
}
 
.information{

 width: 312px;
 height: 412px;
 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.623);
 border-radius:9px;
}

.information-text{

    padding: 0 20px;
}

.information-text img{
    width:8%;
    
}
/* footer section */
footer{
    margin-top:30px;
    text-align: center;
    background-color: #272525;
    height:1600px;
    height:444px;
    color: white;
}
.footer-container{
    padding:160px;
}

.footer-container>h1{
    padding-bottom:50px;
}
.bottom-side{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    opacity: 0.7;
}

hr{
    border: 2px solid rgb(0, 0, 0);
    height:  0;
}
